@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Aleo');
@import 'normalize';

$font-family-Josefin: 'Josefin Sans';
$font-family--Aleo: 'Aleo';

$font-size--section-title: 36px;
$font-size--section-text: 16px;

$letter-spacing--section-text: 0.1em;

$background-color-button-blue: #5474fd;
$background-color-button-dark-blue: #496bfe;

body {
	font-family: $font-family-Josefin;
	color: #fff;  // поставить белый цвет
	font-weight: 400;
	line-height: 26px;
	min-width: 1150px;
}
.container {
	width: 1110px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}
.scroll {
	font-size: 14px;
	letter-spacing: 0.14em;
	text-decoration: none;
	color: #fff;
	&:hover {
		opacity: 0.6;
	}
	&:focus {
		outline: none;
		color: #2228e3;
	}
	&__icon {
		display: block;
		margin-top: 3px;
	}
}
.main-logo {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		opacity: 0.6;
	}
	&:focus {
		outline: none;
		color: #2228e3;
	}
}
.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

//MAIN-NAVIGATION
.main-navigation {
	&__item {
		margin-left: 42px;
	}
	&__link {
		font-family: $font-family--Aleo;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			opacity: 0.6;
		}
		&:focus {
			outline: none;
			color: #2228e3;
		}
	}
}

//ABOUT
.about {
	background: #3e3a3a url("../img/section-2-bg.jpg") 50% no-repeat;
	background-size: cover;
	&__section-title {
		margin-bottom: 64px;
	}
	&__photo {
		width: 74%;
		&--left {
			align-self: flex-start;
			margin-bottom: 5px;
		}
		&--right {
			align-self: flex-end;
		}
	}
	&__left,
	&__right {
		width: 43%;
	}
	&__left {
		width: 49%;
		padding-top: 85px;
	}
	&__right {
		display: flex;
		flex-direction: column;
		padding-left: 96px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 120px 0;
	}
}
.section-title {
	font-family: $font-family--Aleo;
	font-size: $font-size--section-title;
	font-weight: 400;
	margin: 0;
}
.section-text {
	font-size: $font-size--section-text;
	letter-spacing: 0.034em;
	margin-bottom: 26px;
}
.section-text:last-of-type {
	margin-bottom: 42px;
}
.section-link {
	display: inline-block;
	font-family: $font-family--Aleo;
	font-size: 16px;
	letter-spacing: 0.075em;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	height: 60px;
	width: 225px;
	background: linear-gradient(45deg, $background-color-button-dark-blue 0%, $background-color-button-dark-blue 40%, $background-color-button-blue 40%, $background-color-button-blue 100%);
	text-align: center;
	line-height: 60px;
	&:hover {
		background: linear-gradient(45deg, $background-color-button-dark-blue 0%, $background-color-button-dark-blue 100%, $background-color-button-blue 100%, $background-color-button-blue 100%);
	}
	&:focus {
		outline: none;
		border: 3px solid #889cf4;
	}
}
.search {
	margin: 0;
}

//COUNTRY
.country--first {
	background: #a6a0b8 url("../img/section-3-bg.jpg") 50% no-repeat;
	background-size: cover;
}
.country--second {
	background: #c54d49 url("../img/section-4-bg.jpg") 50% no-repeat;
	background-size: cover;
}
.country {
	padding-top: 230px;
	padding-bottom: 100px;
	&__box {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 50px 30px;
		width: 43.3%;
	}
	&__title,
	&__subtitle {
		font-size: 19px;
		margin: 0;
		margin-bottom: 20px;
	}
	&__subtitle {
		text-transform: uppercase;
		font-weight: 400;
	}
	&__text {
		// font-size: 16px;
		font-size: 13px;
		letter-spacing: 0.02em;
		margin: 0;
		margin-bottom: 40px;
	}
	&__box--second {
		margin-left: auto;
	}
}

//FORM
.form {
	display: flex;
	justify-content: center;
	width: 70%;
	margin: 0 auto 115px;
	&__input {
		box-sizing: border-box;
		font-family: $font-family-Josefin;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.13em;
		height: 60px;
		width: 500px;
		padding: 0;
		text-align: center;
		border: none;
		&:hover {
			border: 2px solid #fff;
		}
		&:focus {
			outline: none;
			border: 3px solid #fff;
			opacity: 0.75;
		}
	}
	&__btn {
		position: relative;
		height: 60px;
		width: 148px;
		padding-top: 7px;
		padding-right: 24px;
		background-color: #5474fd;
		border: 2px solid #ffffff;
		color: #ffffff;
		text-transform: uppercase;
		&:hover {
			background-color: #2e53ef;
		}
		&:focus {
			outline: none;
			border: 3px solid #fff;
		}
	}
	&__icon {
		position: absolute;
		right: 12px;
		top: 19px;
		font-size: 22px;
	}
}

//MAIN FOOTER
.main-footer {
	padding-top: 120px;
	padding-bottom: 50px;
	background-color: #232323;
	text-align: center;
	&__logo {
		font-size: 26px;
		margin-bottom: 15px;
	}
	&__subtitle {
		margin: 0;
		margin-top: 2px;
		margin-bottom: 19px;
		font-size: 14px;
		letter-spacing: 0.1em;
		font-weight: 400;
	}
	&__list {
		display: inline-flex;
		justify-content: space-between;
	}
	&__item {
		margin-left: 25px;
		&:first-child {
			margin: 0;
		}
	}
	&__link {
		color: #e8e8e8;
		&:hover {
			color: #5474fd;
		}
		&:focus {
			outline: none;
			color: #5474fd;
		}
	}
}

//MAIN-HEADER
.main-header {
	padding-top: 278px;
	text-align: center;
	background: #0575bd url("../img/header-bg.jpg") 50% no-repeat;
	background-size: cover;
	&__title {
		margin: 0;
		font-size: 48px;
		font-weight: 700;
		// letter-spacing: 0.1em;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	&__subtitle {
		margin-top: 16px;
		margin-bottom: 44px;
		font-size: 22px;
		font-weight: 400;
		// letter-spacing: 0.31em;
		letter-spacing: 0.24em;
	}
	&__navigation-container {
		background: #5474fd;
		margin-top: 131px;
	}
	&__navigation {
		display: flex;
		padding-top: 28px;
		padding-bottom: 25px;
		justify-content: space-between;
	}
}



//PROCESS-LIST
.process-list {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 62%;
		height: 100px;
		bottom: 75px;
		left: 19%;
		box-sizing: border-box;
		background-image: url("../img/shape-1.png");
		background-repeat: no-repeat;
		background-position: center center;
	}
	&__item {
		font-family: $font-family--Aleo;
		font-size: 36px;
		width: 33.3333333%;
		text-align: center;
		&.select {
			z-index: 0;
		}
	}
	&__icon {
		font-size: 55px;
		display: block;
		margin-bottom: 35px;
	}
	&__icon--search {
		color: #5474fd;
	}
	&__icon--select {
		color: #ff6363;
		background-color: #333333;
	}
	&__icon--book {
		color: #00a2ff;
	}
}

//PROCESS
.process {
	padding-top: 102px;
	padding-bottom: 118px;
	background-color: #333333;
	& .container {
		width: 1140px;
		padding-left: 0;
		padding-right: 0;
	}
}

//REVIEWS
.reviews {
	background: #2b2d2d url("../img/section-5-bg.jpg") 50% no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 200px;
	&__section-title {
		text-align: center;
		margin-bottom: 100px;
	}
	&__details {
		display: flex;
		position: relative;
		background-color: #333333;
	}
	&__title {
		margin: 0;
		margin-bottom: 38px;
		font-size: 19px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: left;
	}
	&__text {
		padding: 50px 55px 43px 60px;
	}
	&__blockquote {
		margin: 0;
	}
	&__paragraph {
		position: relative;
		font-size: 13px;
		margin: 0;
		text-indent: 29px;
		text-align: justify;
		letter-spacing: 0.02em;
	}
	&__qoute-icon {
		position: absolute;
		color: #5474fd;
		font-size: 20px;
		top: -13px;
		left: -30px;
	}
}